@{
    ViewData["Title"] = "API Bop";
}

<h2>Bem ao sistema de BOP!</h2>

<p>Veja a versão com @Html.ActionLink("Postgres", "Postgres", "Notas") </p>
<p>Veja a versão com @Html.ActionLink("Mongo", "Mongo", "Notas") </p>