@model IEnumerable<ApiBop.Models.Nota>

@{
    ViewData["Title"] = "API Bop";
}

<h2>Sistema de BOP com MongoDB</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Descricao</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
                <td>
                    <a>
                        @item.id_note
                    </a>
                </td>
                <td>
                    <a>
                        @item.Titulo
                    </a>
                </td>
                <td>
                    <a>
                        @item.Descricao
                    </a>
                </td>
            </tr>
    }
</table>

<p>@Html.ActionLink("Voltar", "Index", "Notas")</p>